{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in contact.profile_image.url %}
      <img src="{% static 'images/muay_thai.jpg' %}" width="75%"
        alt="placeholder image" >
      {% else %}
      <img src="{{ contact.profile_image.url }}" width="75%"
        alt="{{ contact.title }}">
      {% endif %}
    </div>
    <div class="col-8">
      <h2>{{ contact.title }}</h2>
      {{ contact.content | safe }}
    </div>
  </div>
</div>

<!-- Email form -->
<div class="row justify-content-center">
  <div class="col-12 col-md-6 my-5">
    <div>
      <h3 class="contact-heading uppercase text-center">Got a question?</h3>
      <h5 class="uppercase text-center">Don't hesitate to ask</h5>
    </div>
    <div class="center-form">
      <form onsubmit="return sendMail(this);">
        <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>

        <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>

        <textarea rows="5" name="message" class="form-control" id="message" placeholder="Message..." required></textarea>

        <button type="submit" class="btn btn-like center-block">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}