body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive;
}

/* Header */
.brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4A4A4F;
}

.logo {
  height: 150px;
  width: auto;
}

.nav-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

.social-icons {
  font-size: 1.5rem;
}

.social-icons i:hover {
  color: #E84610;
}

.thin {
  font-weight: 300;
}

/* colors */
.red-o {
  color: #E84610;
}

.dark-bg {
  background-color: #212529;
}

/* Home page */
/* Hero image */
.hero-section {
  width: 90%;
  margin: 0 auto;
}

.hero-section img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hero-text {
  width: 100%;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section h1,
.hero-section p {
  margin: 0;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  font-size: 1.25rem;
}

/* Style for the cards on activity page */
.card {
  transition: transform 0.3s ease-in-out;
  border: none;
  background-color: transparent;
}

.card:hover {
  transform: scale(1.05);
}

/* Images on home-page */
.card-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.card-body > .post-link {
  flex: 1 1 auto;
}

.card-body > hr, .card-body > .card-text {
  flex-shrink: 0;
}

/* Activity page */
/* Images on activity page */
.image-flash {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgba(232, 70, 16, 0.8);
}

.post-link {
  color: #445261;
}

.post-link:hover {
  color: #E84610;
}

.page-link {
  color: #E84610;
}

/* contact page */
.about-us-section {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* Training session detail page */
.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

/* Buttons */
.btn-like {
  color: #fff;
  border: none;
  background: transparent;
  background-color: #E84610;
  border: 1px solid #E84610;
}

.btn-like:hover,
.btn-like:active {
  color: #fff;
}

/* Google Maps */
div#map {
  min-height: 360px;
}