{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="row">

        {% for session in sessions %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-container position-relative">
              {% if "placeholder" in session.featured_image.url %}
              <img class="card-img-top" src="{% static 'images/muay_thai2.jpg' %}" alt="placeholder image">
              {% else %}
              <img class="card-img-top" src="{{ session.featured_image.url }}" alt="{{ session.title }}">
              {% endif %}
              <div class="image-flash position-absolute top-0 start-0 m-2 px-2 py-1">
                <p class="m-0 text-white">Instructor: {{ session.instructor }}</p>
              </div>
            </div>

            <div class="card-body">
              <p class="card-text">
                Category:
                {% for category in session.categories.all %}
                <a href="{% url 'category_sessions' category_slug=category.slug %}" class="post-link">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
              <a href="{% url 'training_session_detail' session.pk %}" class="post-link">
                <h5 class="card-title">{{ session.title }}</h5>
                <p class="card-text">{{ session.excerpt }}</p>
              </a>
              <hr />
              <p class="card-text text-muted small">{{ session.date }} {{ session.time|time:"H:i" }}</p>
              {% if user.is_staff %}
              <div>
                <a href="{% url 'training_session_edit' session.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <form method="post" action="{% url 'training_session_delete' session.pk %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm delete-button">Delete</button>
                </form>
              </div>
              {% endif %}
            </div>

          </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
      </div>
      <!-- Behöver jag rowen? -->
      <div class="row">{% endif %}
        {% endfor %}
      </div>
      {% if user.is_staff %}
      <a href="{% url 'training_session_create' %}" class="btn btn-like mb-4">Create New Session</a>
      {% endif %}
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

<script src="{% static 'js/confirm_delete.js' %}"></script>
{% endblock %}