{% extends "base.html" %} 
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ session.title }}</h1>
                <p class="post-subtitle">{{ session.instructor }} | {{ session.date }} | {{ session.time }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in session.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/muay_thai2.jpg' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ session.featured_image.url }}"
                  alt="{{ session.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ session.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}