{% extends "base.html" %} 
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ session.title }}</h1>
                <p class="post-subtitle">{{ session.instructor }} | {{ session.date }} | {{ session.time|time:"H:i" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in session.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/muay_thai2.jpg' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ session.featured_image.url }}"
                  alt="{{ session.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4 mt-3 left top">
            <div class="">
                <p class="">
                    {{ session.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if user.is_authenticated %}
    <div class="row mb-4">
        <div class="col">
            <form method="post" action="{% url 'training_session_detail' session.pk %}">
                {% csrf_token %}
                {% if booking %}
                <button type="submit" name="cancel" class="btn btn-danger">Cancel Booking</button>
                {% else %}
                <button type="submit" name="book" class="btn btn-like">Book Now</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <p>Please <a href="{% url 'account_login' %}">login</a> to book this session.</p>
        </div>
    </div>
    {% endif %}
    </div>
</div>
{% endblock content %}