<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><span class="brand">m<span class="red-o">u</span>ay<span class="thin">|thai</span></span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Activities -->
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == home_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'activities' %}"
            >Activities</a
          >
        </li>
        <!-- Contact -->
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == contact_url %}active{%endif%}"
            aria-current="page"
            href="{% url 'contact' %}"
            >Contact</a
          >
        </li>

        <!-- logout, register and login -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == logout_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_logout' %}"
            >Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == signup_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_signup' %}"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == login_url %}active{% endif %}"
            aria-current="page"
            href="{% url 'account_login' %}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
      <span class="navbar-text text-muted">
        adventures of a Muay Thai fighter
      </span>
    </div>
  </div>
</nav>
