{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section position-relative">
  <img src="{% static 'images/muaythai_homeimage.jpg' %}" alt="Muay Thai Club" class="img-fluid w-80">
  <div class="hero-text position-absolute top-50 start-50 translate-middle text-center">
    <h1 class="display-4">Welcome to the Muay Thai Club</h1>
    <p class="lead">This is the home page of the Muay Thai club. Here you can find information about our activities, training sessions, and more.</p>
  </div>
</div>

<div class="container">
  <!-- About Us Section -->
  <div class="about-us-section mt-5">
    <h2>About Us</h2>
    <p>
      Welcome to our martial arts community, where you can train in Thai boxing, classic boxing, and Brazilian Jiu-Jitsu (BJJ). We believe that martial arts are for everyone, regardless of age, experience, or background. Whether you're stepping onto the mat for the first time or are a seasoned competitor, you'll find a supportive and inclusive environment here.
    </p>
    <p>
      Our offerings extend beyond regular classes. We provide private training sessions, group training for companies, schools, and organizations, and host special events such as staff parties, kickoffs, and bachelor/bachelorette parties. Scroll down to learn more about what we offer and find the perfect training option for you!
    </p>
  </div>

  <!-- Activities Section -->
  <div class="row mt-5">
    {% for activity in activities %}
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <div class="card-img-container">
          <img src="{% static activity.image %}" class="card-img-top" alt="{{ activity.title }}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ activity.title }}</h5>
          <a href="{{ activity.link }}" class="btn btn-like">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>
{% endblock %}
