{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div id="carouselExampleIndicators" class="carousel slide hero-section position-relative" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    {% for item in carousel_items %}
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for item in carousel_items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img class="d-block img-fluid w-80" src="{% static item.image %}" alt="{{ item.alt }}">
        <div class="hero-text position-absolute top-50 start-50 translate-middle text-center">
          <h1 class="display-4">{{ item.heading }}</h1>
          <p class="lead">{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<div class="container">
  <!-- About Us Section -->
  <div class="about-us-section mt-5">
    <h2>About Us</h2>
    <p>
      Welcome to our martial arts community, where you can train in Thai boxing, classic boxing, and Brazilian Jiu-Jitsu (BJJ). We believe that martial arts are for everyone, regardless of age, experience, or background. Whether you're stepping onto the mat for the first time or are a seasoned competitor, you'll find a supportive and inclusive environment here.
    </p>
    <p>
      Our offerings extend beyond regular classes. We provide private training sessions, group training for companies, schools, and organizations, and host special events such as staff parties, kickoffs, and bachelor/bachelorette parties. Scroll down to learn more about what we offer and find the perfect training option for you!
    </p>
  </div>

  <!-- Activities Section -->
  <div class="row mt-5">
    {% for activity in activities %}
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <div class="card-img-container">
          <img src="{% static activity.image %}" class="card-img-top" alt="{{ activity.title }}">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ activity.title }}</h5>
          <a href="{{ activity.link }}" class="btn btn-like">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>
{% endblock %}